html {
  font-family: sans-serif;
  font-size: 10px;
}

/* Your CSS below here */

div {
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 8;
	font-size: 1.8rem; /* I cheated */
	background-color: rebeccapurple;
	color: yellow;
	text-shadow: 1px 1px 2px black;
	border-radius: 10px;
	border: 1px solid purple;
	background: linear-gradient(135deg, rgba(204,204,204,1) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2) 100%), rebeccapurple;
	box-shadow: 10px 10px 10px black, inset 3px 3px 5px white, inset -3px -3px 5px black;
}

a {
	text-decoration: none;
}